<div class="container">
	<ol class="breadcrumb">
	  <li><%= link_to "Equipos", equipos_path %></li>
	  <li class="active"><%= @equipo.equipo %></li>
	</ol>
	<div class="row">
		<ul class="nav nav-tabs">
			<li><%= link_to "Hoja de vida", @equipo %></li>
			<li><%= link_to "Mantenimiento", equipo_mantenimiento_preventivos_path(@equipo) %></li>
			<li class="active"><a href="#">Metrología</a></li>
		</ul>
		<br />
	</div>
	
<table class="table table-hover ">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Reporte</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @metrologias.each do |metrologia| %>
      <tr>
        <td><%= metrologia.fecha %></td>
        <td><%= metrologia.reporte %></td>
        <td><%= link_to([@equipo, metrologia]) do %>
        	  	<span class="glyphicon glyphicon-th-list"></span>
			<% end %>
		</td>
        <td><%= link_to (edit_equipo_metrologia_path(@equipo, metrologia)) do %>
        		<span class="glyphicon glyphicon-edit"></span>
			<% end %>
        </td>
        <td><%= link_to [@equipo, metrologia], method: :delete, data: { confirm: 'Are you sure?' } do %>
        		<span class="glyphicon glyphicon-trash"></span>
			<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_equipo_metrologia_path, :class => "btn btn-primary pull-right" do %>
	<span class="glyphicon glyphicon-plus"></span> Añadir
<% end %>
