<%= form_for(@equipo) do |f| %>
	<% if @equipo.errors.any? %>
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      		<h2><%= @equipo.errors.count %> Errores impidieron que este equipo se guardara:</h2>
			<ul>
		    	<% @equipo.errors.full_messages.each do |msg| %>
		        	<li><%= msg %></li>
		      	<% end %>
      		</ul>
    	</div>
	<% end %>
	<div class="row">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#">Hoja de vida</a></li>
			<li><a href="#">Mantenimiento</a></li>
			<li><a href="#">Metrología</a></li>
		</ul>
		<br />
	</div>
	<div class="row">
		<div class="col-xs-4">
			<%= image_tag @equipo.avatar.url(:medium), :class => "img-thumbnail equipment-image" %>
			<%= f.file_field :avatar %>
		</div>
		<div class="col-xs-4">
			<table class="table">
				<tr>
					<td class="field-label"><strong><%= f.label :equipo %></strong></td>
					<td><%= f.text_field :equipo, :class => "form-control" %></td>
				</tr>
				<tr>
					<td class="field-label"><strong><%= f.label :marca %></strong></td>
					<td><%= f.text_field :marca, :class => "form-control" %></td>
				</tr>
				<tr>
					<td class="field-label"><strong><%= f.label :modelo %></strong></td>
					<td><%= f.text_field :modelo, :class => "form-control" %></td>
				</tr>
				<tr>
					<td class="field-label"><strong><%= f.label :serie %></strong></td>
					<td><%= f.text_field :serie, :class => "form-control" %></td>
				</tr>
				<tr>
					<td class="field-label"><strong><%= f.label :inventario %></strong></td>
					<td><%= f.text_field :inventario, :class => "form-control" %></td>
				</tr>
				<tr>
					<td class="field-label"><strong><%= f.label :tipo %></strong></td>
					<td>
						<select id="equipo_tipo" name="equipo[tipo]" class="form-control">
							<option value="1">Electrico</option>
							<option value="2">Electronico</option>
							<option value="3">Mecanico</option>
							<option value="4">Hidraulico</option>
							<option value="5">Neumatico</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="field-label"><strong><%= f.label :clasificacion %></strong></td>
					<td>
						<select id="equipo_clasificacion" name="equipo[clasificacion]" class="form-control">
							<option value="1">I</option>
							<option value="2">IIA</option>
							<option value="3">IIB</option>
							<option value="4">III</option>
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row">
		<br />
		<button type="submit" class="btn btn-primary">
			<span class="glyphicon glyphicon-save"></span> Guardar
		</button>
	</div>
<% end %>

