<%= form_for @equipo, :html => {:class => "form-horizontal"} do |f| %>
	<% if @equipo.errors.any? %>
		<div class="alert alert-danger alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  		<h2><%= @equipo.errors.count %> Errores impidieron que este equipo se guardara:</h2>
			<ul>
    	 <% @equipo.errors.full_messages.each do |msg| %>
        	<li><%= msg %></li>
      	<% end %>
  		</ul>
    	</div>
	<% end %>
	<div class="row">
  	<div class="form-group">
      <%= f.label :equipo, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :equipo, :class => "form-control" , :autofocus => true%>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :avatar, "Foto", :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :marca, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :marca, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :modelo, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :modelo, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :serie, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :serie, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :inventario, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :inventario, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :tipo, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <select id="equipo_tipo" name="equipo[tipo]" class="form-control">
          <option value="1">Electrico</option>
          <option value="2">Electronico</option> <option value="3">Mecanico</option>
          <option value="4">Hidraulico</option>
          <option value="5">Neumatico</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :clasificacion, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <select id="equipo_clasificacion" name="equipo[clasificacion]" class="form-control">
          <option value="1">I</option>
          <option value="2">IIA</option>
          <option value="3">IIB</option>
          <option value="4">III</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :sede, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :sede, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ubicacion, :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :ubicacion, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :fechaIngreso,"Fecha Ingreso", :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.date_field :fechaIngreso, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :frecuenciaPreventivo, "Frecuencia Mantenimiento Preventivo", :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :frecuenciaPreventivo, :class => "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :frecuenciaMetrologia, "Frecuencia Metrología", :class => "col-xs-3 control-label" %>
      <div class="col-xs-7">
        <%= f.text_field :frecuenciaMetrologia, :class => "form-control" %>
      </div>
    </div>
	</div>
	<div class="row">
		<br />
		<button type="submit" class="btn btn-default center-block">
			<span class="glyphicon glyphicon-save"></span> Guardar
		</button>
	</div>
<% end %>

