<div class="container">
	<div class="row manasyPanel">
	  <div class="equipoActions">
  	  <%= link_to edit_equipo_path(@equipo), :class => "btn btn-default pull-right" do %>
        <span class="glyphicon glyphicon-edit"></span> Editar
      <% end %>
      <%= link_to new_equipo_orden_path(@equipo), :class => "btn btn-default pull-right" do %>
        <span class="glyphicon glyphicon-wrench"></span> Generar orden
      <% end %>
    </div>

		<div class="col-xs-3 text-right">
			<%= image_tag @equipo.avatar.url(:medium), :class => "img-thumbnail equipoImage" %>
		</div>	
		<div class="col-xs-8">
  		<div class="col-xs-12 equipoTitle">
  		  <strong><%= @equipo.equipo %></strong>
  		  <span class="equipoUbicacion">
          <span><%= @equipo.sede %></span>
          <span><%= @equipo.ubicacion %></span>
          <span><%= @equipo.estado %></span>
        </span>
  		</div>
		  
  		<div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Marca</span> <%= @equipo.marca %>
      </div>
      <div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Modelo</span> <%= @equipo.modelo %>
      </div>
      <div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Serie</span> <%= @equipo.serie %>
      </div>
      <div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Inventario</span> <%= @equipo.inventario %>
      </div>
      <div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Tipo</span> <%= tipoEquipoHelper(@equipo.tipo) %>
      </div>
      <div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Clasificacion</span> <%= clasificacionEquipoHelper(@equipo.clasificacion) %>
      </div>
      <div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Fecha Ingreso</span> <%= @equipo.fechaIngreso %>
      </div>
      <div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Preventivo</span> <%= @equipo.frecuenciaPreventivo %> meses
      </div>
      <div class="col-xs-4 equipoProperty">
        <span class="equipoPropertyName">Metrología</span> <%= @equipo.frecuenciaMetrologia %> meses
      </div>
      
    </div>
	</div>
	<div class="row manasyHeader">
    DOCUMENTOS
  </div>
	<div class="row">
	  <ul class="list-group col-xs-4">
        <% @equipo.documentos.each do |documento| %>
          <li class="list-group-item">
            <%= link_to documento.archivo_file_name, documento.archivo.url() %>
            <%= link_to [@equipo, documento], method: :delete, data: { confirm: 'Are you sure?' }, class: "pull-right" do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </li>
        <% end %>
    </ul>
  </div>
  <div class="row">
    <%= form_for [@equipo, @documento], :html => {:class => "form-inline"} do |f| %>
      <% if @documento.errors.any? %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <h2><%= @documento.errors.count %> Errores impidieron que este documento se guardara:</h2>
          <ul>
              <% @documento.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
          </div>
      <% end %>
      
      <div class="form-group">
        <%= f.label :archivo, :class => "sr-only" %>
        <%= f.file_field :archivo, :class => "form-control"%>
      </div>
      <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-upload"></span> Subir
      </button>
    <% end %>
	</div>
</div>
