<%= form_for(@orden) do |f| %>
  <% if @orden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@orden.errors.count, "error") %> prohibited this orden from being saved:</h2>

      <ul>
      <% @orden.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :solicitante %><br>
    <%= f.text_field :solicitante %>
  </div>
  <div class="field">
    <%= f.label :tipoOrden %><br>
    <%= f.number_field :tipoOrden %>
  </div>
  <div class="field">
    <%= f.label :actividadRealizada %><br>
    <%= f.text_field :actividadRealizada %>
  </div>
  <div class="field">
    <%= f.label :personaRecibe %><br>
    <%= f.text_field :personaRecibe %>
  </div>
  <div class="field">
    <%= f.label :valor %><br>
    <%= f.text_field :valor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
