<div class="container">
 
  <%= render partial: "equipos/equipo", object: @equipo, as: "equipo" %>
  </br>
  <%= form_for [@equipo, @orden], :html => {:class => "form-horizontal"} do |f| %>
    <% if @orden.errors.any? %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h2><%= @orden.errors.count %> Errores impidieron que esta orden se guardara:</h2>
        <ul>
            <% @orden.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
        </div>
    <% end %>
  
    <div class="form-group">
      <%= f.label :tipoOrden, "Tipo de orden", :class => "col-sm-2 control-label" %>
      <div class="col-sm-10">
        <select id="orden_tipoOrden" name="orden[tipoOrden]" class="form-control">
          <option value="1">Mantenimiento Correctivo</option>
          <option value="2">Mantenimiento Preventivo</option>
          <option value="3">Metrologia</option>
        </select>
      </div>
    </div>
    
    <div class="panel-group" id="accordion">
      <div class="panel">
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="form-group">
            <label for="orden[falla]" class="col-sm-2 control-label">Falla</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="orden[falla]" placeholder="ej: el tomografo no prende y huele a quemado"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="form-group">
            <label for="orden[fecha]" class="col-sm-2 control-label">Fecha a programar</label>
            <div class="col-sm-10">
              <input type="date" class="form-control" name="orden[fecha_programada]" placeholder="dd/mm/aaaa">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-save"></span> Crear Orden
        </button>
      </div>
    </div>
  <% end %>
</div>

<script>
  //Make accordion always hide the shown panels before next one shows
  $(document).ready(function() {
    $('#accordion').on('show.bs.collapse', function () {
      $('#accordion .in').collapse('hide');
    });
  });
  
  //Make fields show for each kind of order
  $('#orden_tipoOrden').change(function() {
    if ($(this).val() == "1") {
      $('#collapseOne').collapse('show');
    }else if ($(this).val() == "2") {
      $('#collapseTwo').collapse('show');
    }else if ($(this).val() == "3") {
      $('#collapseTwo').collapse('show');
    } 
  });  
</script>
