<div class="container equipos">
  <%= link_to new_cuenta_path, :class => "btn btn-default pull-right anadir" do %>
    <span class="glyphicon glyphicon-plus"></span> Nuevo
  <% end %>
  <div class="row">
    <ul class="list-group col-xs-6 col-xs-offset-3">
        <% @cuentas.each do |cuenta| %>
          <li class="list-group-item">
            <%= cuenta.email %>
            (<%= cuenta.role.title %>)
            <%= link_to cuenta_path(cuenta), method: :delete, data: { confirm: 'Esta seguro?' }, class: "pull-right" do %>
              <span class="glyphicon glyphicon-trash"></span>&nbsp; 
            <% end %>
            <%= link_to edit_cuenta_path(cuenta), :class => "pull-right" do %>
              <span class="glyphicon glyphicon-edit"></span>&nbsp;
            <% end %>
            
          </li>
        <% end %>
    </ul>
  </div>
</div>