<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Manasy un administrador de equipos biomedicos facil de usar y de bajo costo.">
    <meta name="keywords" content="equipo, biomedico, mantenimiento, hoja de vida, metrologia, orden de servicio">
    <meta name="author" content="Ivan Alvarez, Tatiana Chavarria">
    <title>BioNube</title>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Header -->
    <header class="navbar navbar-static-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "/", :class => "brand" do %>
            <%= image_tag "logo.jpg", :class => "logoImage" %> BioNube
          <% end %>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
          <% if current_user %>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to "EQUIPOS", equipos_path %>
              </li>
              <li>
                <%= link_to "ORDENES", ordenes_path %>
              </li>
              <li>
                <%= link_to "INDICADORES", indicadores_path %>
              </li>
              <li>
                <%= link_to "TECNICOS", tecnicos_path %>
              </li>
              <% if current_user.admin? %>
                <li>
                  <%= link_to "ROLES", admin_roles_path %>
                </li>
              <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              	<li>
                  <a href=#><%= current_user.email %> - <%= current_user.role.title %></a>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    <span class="glyphicon glyphicon-log-out"></span> Salir
                  <% end %>
                </li>
            </ul>
          <% else %>
            <%= render "devise/sessions/new" %>
          <% end %>
        </nav>
      </div>
    </header>
    
    <!-- Messages -->
    <div class="container messages">
      <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          &times;
        </button>
        <%= notice %>
      </div>
      <% end %>
      <% if alert %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          &times;
        </button>
        <%= alert %>
      </div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
